/* Fonts Google importades*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Playwrite+HR+Lijeva+Guides&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global */
*{
    margin: 0px;
    padding: 0px;
}

/* Titol */
.titol__nav{
    font-family: "Figtree", sans-serif;
    margin: 10px;
    font-size: 35px;
}

/* Navegació */
.boxdown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

/* Navegació text */
.boxinfo{
    display: flex;
}

/* Desplegable */
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

/* Botó */
#boxbt__format{
    border-radius: 7px;
    padding: 10px;
    border: none;
    background-color: #7fb3d5;
    /* Text */
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

#boxbt__format:hover{
    cursor: pointer;
}

/* Linea */
.linea__nav{
    border:1px solid #d5dbdb;
}